<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.babybillssoftwarefactory.applauncherdemo">

    <!-- ****************************************** PERMISSIONS ****************************************** -->
    <!-- PERMISSION CATEGORY: DANGEROUS (STORAGE group) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- **************************************    END PERMISSIONS   ************************************** -->

    <application
            android:name=".AppLauncherDemo"
            android:description="@string/app_description"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute"
            tools:replace="android:label">


        <!-- ****************************************** ACTIVITIES ****************************************** -->
        <activity android:name=".view.activities.MainActivity"
                  android:label="@string/dashboard_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- ****************************************** ACTIVITIES ****************************************** -->


        <!-- ****************************************** SERVICES ****************************************** -->
        <!-- App Launcher File Monitor Service -->
        <service android:name=".service.AppLauncherFileMonitor"
                 android:description="@string/service_description_app_launcher_file_monitor"
                 android:exported="false"/>
        <!-- ****************************************** SERVICES ****************************************** -->
    </application>
</manifest>